In [ ]:
#default_exp case

# case
> Functions to deal with snake_case columns

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
#export
import re
import pandas as pd
from fastcore.all import *
from pdpatch.core import *

## Snake Case Column Names

In [ ]:
#export
def replace_parentheses(s):
    out = s.replace('__','_(', 1).replace('__',')', 1)
    if out == s: return out
    return replace_parentheses(out)

In [ ]:
#export
_par_re = re.compile(r'((?<=\()[A-Z])')

In [ ]:
#export
def snake2words(s): 
    return re.sub(_par_re, lambda x: x.group(0).lower(), ' '.join(replace_parentheses(s).title().split('_')))

In [ ]:
test_eq(snake2words('hi_bye__min__'), 'Hi Bye (min)')

In [ ]:
#export
acronyms = ['MAE', 'RMSE']
def replace_acronyms(s):
    if is_listy(s): return [replace_acronyms(o) for o in s]
    for o in acronyms: s=s.replace(o.lower(), o).replace(o.capitalize(), o)
    return s

In [ ]:
test_eq(replace_acronyms('foo mae Rmse'), 'foo MAE RMSE')

In [ ]:
test_eq(replace_acronyms(['foo mae Rmse', 'rmse bar']), ['foo MAE RMSE', 'RMSE bar'])

In [ ]:
#export
@patch
def rename2words(self:pd.DataFrame): 
    '''Renames columns in snake_case to Words.'''
    return self.renamec(snake2words).renamec(replace_acronyms)

In [ ]:
dummydf().rename2words()

   Col 1 Col 2
0    100     a
1    101     b
2    102     c
3    103     d
4    104     e

In [ ]:
#export
class PxLabeler:
    def __getitem__(self, item): return replace_acronyms(snake2words(item))
px_labeler = PxLabeler()

Use `px_labeler` for the `labeler` plotly functions kwarg

## Export

In [ ]:
from nbdev.export import notebook2script; notebook2script()

Converted 00_core.ipynb.
Converted 01_case.ipynb.
Converted index.ipynb.