In [ ]:
#| hide
# from pdpatch.core import *

# pdpatch

> New methods for pandas DataFrame and Series.

## Install

`pip install pdpatch`

## How to use

In [ ]:
from pdpatch.core import *

### Utility functions

In [ ]:
df = dummydf()
df

   col_1 col_2
0    100     a
1    101     b
2    102     c
3    103     d
4    104     e

## Interactive Method `.less()`

![Alt Text](less15_360.gif)

### Shorter methods


`df.rename(columns={'col_1': 'new_name'})`->`df.renamec({'col_1': 'new_name'})`

In [ ]:
df.renamec({'col_1': 'new_name'})

   new_name col_2
0       100     a
1       101     b
2       102     c
3       103     d
4       104     e

### Functions as methods

In [ ]:
df.len()

5

### New methods

In [ ]:
df.col_1.minmax

(100, 104)